<div class="row">
  <div class="col-sm-5">
    <div class="row">
      <div class="col-xs-12">
        <img class="hero" src="https://upload.wikimedia.org/wikipedia/commons/e/e3/Seattle_Kerry_Park_Skyline.jpg">
      </div>
    </div>

    <h2>About</h2>
    <p>BlogPulse is an up-and-coming player in the global media market,
    providing user-generated content across all topics.</p>

    <h2>Features</h2>
    <ul>
      <li>Become an author</li>
      <li>Write an unlimited amount of articles</li>
      <li>Leave comments to share your thoughts</li>
    </ul>

  </div>
  <div class="col-sm-7">
      <h1>Latest Posts from BlogPulse:</h1>
      <% articles.forEach(function(a) { %>
        <div class="well">
          <h2>
            <a href="/articles/<%= a.id %>"><%= a.title %></a>
            <!-- use prototype defined for authors to get full name -->
            <p><small>by <%= a.author.getFullName() %></small></p>
          </h2>
          <p>
            <!-- used to display date relative to now, using calendar method of moment -->
            <strong><%= moment(a.createdAt).calendar() %></strong>
          </p>
        </div>
      <% }) %>
  </div>
</div>
